<% if flash.has_key? :success %>
  <div class="alert alert-success alert-dismissable">
    <%= flash[:success] %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &times;
    </button>
  </div>
<% end %>

<% if flash.has_key? :error %>
  <div class="alert alert-error alert-dismissable">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &times;
    </button>
  </div>
<% end %>
