<!DOCTYPE html>
<html>
  <head>
    <title>Yt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Lato|Open+Sans:400,600" rel="stylesheet" />
    <link href='/css/style.css' rel='stylesheet'>
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-lg-6 col-lg-offset-3 panel">
	  <%= yield %>
	</div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
