body {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, serif;
  background: transparent;
}

h1 {
  font-family: "Lato", Avenir, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
}

#content {
  width: 630px;
  margin: 100px auto;
}
