body {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Open Sans", serif;
  background: transparent;
}

h1 {
  font-family: "Lato", Avenir, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
  margin: 40px 0;
}

