<h1>Create an account</h1>

<form id="create-account" method="POST" action="/user">
  <div class="ui form segment">
    <div class="field">
      <label>Username</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="email" name="mail">
        <i class="mail icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left labeled icon input">
        <input type="password" name="password">
        <i class="lock icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Password Confirmation</label>
      <div class="ui left labeled icon input">
        <input type="password" name="password_confirmation">
        <i class="lock icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
    <div class="ui error message">
      <div class="header">We noticed some issues</div>
    </div>
    <div class="ui blue submit button" id="signup-button">Create Account</div>
  </div>
</form>
