<h1 class="margin-base-vertical text-center">Create an account</h1>
<form class="margin-base-vertical" method="POST" action="/user">
  <p class="input-group input-group-sm">
    <input type="text" class="form-control" name="mail" placeholder="email" />
    <input type="password" class="form-control" name="password" placeholder="password" />
    <input type="password" class="form-control" name="password_confirmation" placeholder="password confirmation" />
  </p>
  <p class="text-center">
    <button type="submit" class="btn btn-success">Create Account</button>
  </p>
</form>

