<h1 class="margin-base-vertical text-center">Add a feed</h1>
<form class="margin-base-vertical" method="POST" action="/channels">
  <p class="input-group input-group-sm">
    <span class="input-group-addon"><span class="icon-youtube-play"></span></span>
    <input type="text" class="form-control" name="url" placeholder="youtube.com/..." />
  </p>
  <p class="text-center">
    <button type="submit" class="btn btn-success">Add feed</button>
  </p>
</form>
