<div class="panel-heading">Feeds</div>
<ul class="list-group">
  <% @channels.each do |chan| %>
    <li class="list-group-item">
      <a href="<%= chan.url %>"><%= chan.title %></a>
      <span class="glyphicon glyphicon-remove pull-right"></span>
    </li>
  <% end %>
</ul>
